* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    font-weight: 600;
    background-color: #0e0f0f;
}

h1 {
    margin-top: 18px;
    color: #e9eaeb;;
    font-size: 56px !important;
    letter-spacing: -0.4px;
    font-weight: 600 !important;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

footer {
    background-color: #0e0e0e;
    color: #9BA3B4;
    padding: 26px 90px 96px 90px;
}

footer.light-theme {
    background-color: #ffffff;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 24px;
    width: auto;
}

.top.light-theme h1 {
    color: #242424 !important;
}

.banner{
    background-color: transparent;
    color: #9ba3b4;
    font-size: 14px;
    position: relative;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1;
}

.top.light-theme .banner{
    background-color: transparent;
    color: #333333;
}

.banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.banner-para{
    font-weight: 500;
}

.banner-para a{
    line-height: 160%;
    color: #4CAAFD;
}

.top.light-theme .banner-para a{
    line-height: 160%;
    color: #005FB8;
}

.btn{
    background-color: #0078d4;
    text-decoration: none;
    color: #fff;
}

.bottom{
    background-color: #0e0e0e;
    margin: 0;
    padding: 0;
}

.bottom.light-theme{
    background-color: #fff !important;
}

.bottom-first {
    display: flex;
    padding: 96px 90px 96px 90px;
    color: #9BA3B4;
    align-items: center;
    justify-content: start;
}

.bottom-second{
    display: flex;
    padding: 64px 90px 64px 90px;
    color: #9BA3B4;
    align-items: start;
    justify-content: start;
}

.bottom-third{
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 12px;
    font-weight: 500 !important;
    width: 100%;
    padding: 6px 0 6px 0;
}

.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 64px;
}

.bt h2{
    color: #e9eaeb;
    font-weight: 600;
    letter-spacing: -0.2px;
    font-size: 30px;
    margin: 0 !important;
    padding: 0 !important;
}

.bottom.light-theme .bt h2{
    color: #242424 !important;
}

.bt p{
    color : #9ba3b4 !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    display: block;
}

.bottom.light-theme .bt p{
    color: #333333 !important;
}

.bottom.light-theme .bottomFirst, .bottom.light-theme .bottomsecond {
    color: #333333 !important;
}

.bfTable{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.bfTable2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    mask-image: linear-gradient(rgba(0,0,0), rgba(0,0,0,0.1));
    mask-position: 50% 0;
}

.bfText{
    width: 53%;
}

.bfText3{
    width: 36.5% !important;
    margin-top: 0 !important;
}

.bfText h2{
    color: #e9eaeb;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 150%;
    font-size: 30px;
    margin: 0 !important;
    padding: 0 !important;
}

.bottom.light-theme .bfText h2{
    color: #242424 !important;
}

.bfText p{
    margin-top: 10px;
    padding-right: 70px;
    color: #9ba3b4;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    display: block;
}

.bottom.light-theme .bfText p{
    color: #333333 !important;
}

.bfText a{
    color: #4CAAFD;
    font-weight: 500;
    line-height: 160%;
}

.bottom.light-theme .bfText a{
    color: #005FB8;
}

.card{
    font-weight: 500 !important;
    text-decoration: none;
    padding:24px !important;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
    text-align: left;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin: 0 !important;
}

.bottom.light-theme .card{
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.card:hover{
    border-color: rgba(255, 255, 255, 0.2);
}

.bottom.light-theme .card:hover{
    border-color: rgba(0, 0, 0, 0.2);
}

.card img{
    height: 24px !important;
    width: 24px !important;
    padding: 12px !important;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.07);
}

.bottom.light-theme .card img{
    background-color: rgba(0, 0, 0, 0.04);
}

.card h3{
    color: #e9eaeb !important;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}

.bottom.light-theme .card h3{
    color: #242424 !important;
}

.card p{
    padding-top: 8px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 !important;
    letter-spacing: 0;
    font-weight: 500;
    color: #9ba3b4;
    display: block;
}

.bottom.light-theme .card p{
    color: #333333 !important;
}

.col{
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.col2{
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.col-item{
    display: flex;
    align-items: center;
}

.col-item code{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    line-height: 100%;
    background-color: unset;
    color: #9BA3B4;
    font-weight: 100;
}

.bottom.light-theme .col-item code{
    color: #333333 !important;
}

.col img{
    height: 40px;
    width: auto;
}

.contentTop{
    display: flex;
    padding: 33px 90px 96px 90px;
    color: #9BA3B4;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    font-weight: 500 !important ;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05)) ;
}

.top.light-theme .contentTop{
    color: #333333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.contentTopHero{
    background-color: transparent;
    width: 36.5%;
    margin-top: 10px;
}

.downloadButton{
    font-size: 16px;
    line-height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
}

.footer-icons img{
    height: 25px !important;
    width: auto;
    margin: 0 20px 0 0  ;
    padding: 0;
}

.footer-links{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    margin: 16px 20px 0 0;
}

.footer-links a{
    color: #9BA3B4;
    text-decoration: none;
    font-weight: 500;
}

footer.light-theme .footer-links a{
    color: #333333;
}

.idkKyaNaamDu{
    background-color: #ffffff0a;
    padding: 8px 12px;
    width: max-content;
    font-size: 14px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.top.light-theme .idkKyaNaamDu{
    background-color: #00000003;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.idkKyaNaamDu span{
    padding: 8px 0;
}

.idkagain{
    display: flex;
    justify-content: center;
    margin-top: 16px !important;
    font-size: 13px;
    color: #9ba3b4;
    font-weight: 500;
}

.bottom.light-theme .idkagain a{
    color: #005FB8;
}

.idkagain2{
    margin-bottom: 40px !important;
}

.bottom.light-theme .idkagain2 a{
    color: #005FB8;
}

.idkagain3{
    margin-bottom: 24px !important;
}

.bottom.light-theme .idkagain3 a{
    color: #005FB8;
}

.bottom.light-theme .idkagain{
    color: #333333;
}

.idkagain a{
    color: #4CAAFD;
}

.nav{
    background-color: #0e0e0e;
    position: sticky;
    top: 0;
    height: 58px;
    display: flex;
    align-items: center;
    gap: 0;
    padding-left: 90px;
    padding-right: 90px;
    z-index: 999;
}

.nav.light-theme{
    background-color: #ffffff;
}

.nav.scrolled {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.nav.light-theme.scrolled {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.nav.light-theme .nav {
    background-color: #ffffff;
}

.nav-brand {
    font-size: 20px !important;
    color: #E9EAEB !important;
    background-image: url("images/vscode.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 36px !important;
    letter-spacing: -0.2px;
}

.nav.light-theme .nav-brand {
    color: #242424 !important;
}

.nav-left{
    display: flex;
    height: 58px;
    justify-content: start ;
    align-items: center;
}

.nav-left a {
    display: flex;
    align-items: center;
    padding: 0 12px;
    text-decoration: none;
    color: #9BA3B4;
    font-size: 16px;
}

.nav.light-theme .nav-left a {
    color: #333333 !important;
}

.nav-right {
    display: flex;
    height: 58px;
    justify-content: end ;
    align-items: center;
    margin-left: auto;
    gap: 0;
}

.para{
    margin-top: 32px;
    font-size: 14px;
}

.para a{
    line-height: 160%;
    color: #4CAAFD;
}

.top.light-theme .para a{
    line-height: 160%;
    color: #005FB8;
}

.screenshot{
    width: 66.66666666666667%;
    display: flex;
    align-items: center;
}

.searchBox {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 6px 12px 6px 36px;
    height: 100%;
    width: 200px;
    border-radius: 4px;
    font-size: 14px;
    color: #9ba3b4;
    background-image: url("images/search-dark.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 12px center;
    background-position-y: 9px;
}

.searchBox:focus {
    outline: none;
    border: 1px solid #0078d4 !important;
}

.nav.light-theme .searchBox {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.sub{
    font-size: 11px;
}

.sub a{
    line-height: 160%;
    color: #4CAAFD;
}

.top.light-theme .sub a{
    line-height: 160%;
    color: #005FB8;
}

.tile{
    align-items: start;
    gap: 12px;
    font-weight: 500 !important;
    text-decoration: none;
    padding: 16px !important;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.tile-details p{
    padding-top: 8px;
    font-size: 14px;
    line-height: 140%;
    margin-top: 0 !important;
    letter-spacing: 0;
    font-weight: 500;
    color: #9ba3b4;
    display: block;
}

.tile-box{
    padding: 64px 90px 64px 90px;
    color: #9BA3B4;
}

.bottom.light-theme .tile{
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.tile:hover{
    border-color: rgba(255, 255, 255, 0.2);
}

.bottom.light-theme .tile:hover{
    border-color: rgba(0, 0, 0, 0.2);
}

.tile img{
    height: 40px;
    width: auto;
    align-self: flex-start;
    border-radius: 4px;
    vertical-align: middle;
    border: 0;
}

.tile-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
}

.tile-details h3{
    color: #e9eaeb !important;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 2px 0 0;
}

.bottom.light-theme .tile-details h3{
    color: #333333 !important;
}

.bottom.light-theme .tile-details p{
    color: #242424 !important;
}

.themeBasedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    margin-right: 4px !important;
    background: none;
    border: none;
}

.themeBasedButton:hover{
    background-color: #333333;
}

.nav.light-theme .themeBasedButton:hover, .top.light-theme .themeBasedButton:hover{
    background-color: #f1f1f0;
}

.themeBasedButton img {
    width: 20px;
    height: 20px;
}

.top{
    margin-top: 0;
    background-color: #0e0e0e;
}

.top.light-theme {
    background-color: #ffffff;
}

.winDownloadButton{
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 4px;
}

.x{
    color: #9BA3B4 !important;
}

.x-icon{
    max-width: 18px;
}

.top.light-theme .x{
    color: #333333 !important;
}